
/* .border-slide{
    border: 8px solid;
    border-image: linear-gradient(227.91deg, #102d58 0%, #066875 100%) 1;
    border-radius: 30px;
} */

.bg-grad-light{
    background: linear-gradient(to bottom, #243B55, #fff) ;
}
.card-image{
    height: 300px;
}

.card-link:hover{
    transform: scale(1.025);
    transition: 0.6s ease-in-out;
    transition-delay: 0.3s;
    
    box-shadow: black 5px 5px 35px;
}